:root {
    --body-color: rgb(20, 20, 20);
    --bg-color: rgb(227, 227, 227);
    --bg-color_2: rgb(113, 54, 164);
    --bg-color_3: rgb(223, 19, 175);
    --bg-color-cards: rgb(242, 242, 242);
    --text-color-dark: rgb(20, 20, 20);
    --text-color-light: rgb(227, 227, 227);
    --toggle-color: rgba(227, 227, 227, 0.7);
    --icon-filter: none;
    --about-profile-bg: rgba(255, 255, 255, 0.03);
    --border-about-profile: rgba(227, 227, 227, 0.7);
}

:root.dark {
    --body-color: rgb(24, 23, 26);
    --bg-color: rgba(227, 227, 227, 0.048);
    --bg-color_2: rgba(79, 24, 127, 0.6);
    --bg-color_3: rgb(33, 0, 25);
    --bg-color-cards: rgb(39, 38, 43);
    --text-color-dark: rgb(198, 198, 198);
    --text-color-light: rgb(227, 227, 227, 0.8);
    --toggle-color: rgba(227, 227, 227, 0.7);
    --icon-filter: invert(1) brightness(1);
    --about-profile-bg: rgba(0, 0, 0, 0.1);
    --border-about-profile: rgba(227, 227, 227, 0.3);
}

.manrope-simple_font> {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--body-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    color: var(--text-color-dark);
}

.container {
    width: 1050px;
    background-color: var(--bg-color);
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.hidden {
    display: none;
}

.header, .profile_about {
    position: relative;
    height: 300px;
    width: 100%;
    max-width: 1050px;
    z-index: 1; 
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: visible;
    display: flex;
    padding: 70px 0;
}

.header {
    flex-direction: column;
}

.header::before {
    content: '';
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to right, var(--bg-color_2), var(--bg-color_3));
    transform: skewY(-8deg); 
    z-index: -1; 
}

.profile {
    position: relative;
    width: 350px;
    height: 350px;
    margin-right: -70px;
    z-index: 2;
    box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.2);
}

.profile_pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    filter: brightness(85%);
    overflow: hidden;
}

.profile_pic::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    z-index: 1;
}

.pic {
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.profile_text {
    z-index: 2;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    color: var(--text-color-light);
    text-align: center;
    bottom: 5px;
    margin: 0;
}

.profile, .about_container {
    margin-top: 80px;
}

.about_container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    background-color: var(--bg-color-cards);
    margin-left: -70px;
    padding: 40px;
    z-index: 1;
    position: relative;
    box-shadow: 10px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.about_title, .about_p, .about_icons {
    padding-left: 100px;
    margin: 20px;
}

.about_title {
    margin-bottom: 0;
    margin-top: 0;
}

.about_p {
    margin-bottom: 0;
}

.about_icons {
    margin-top: 0;
    margin-right: 20px;
    margin-left: auto;
}

.btn_icon {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in;
    filter: var(--icon-filter);
}

.btn_icon:hover {
    transform: scale(1.3);
}

.toggle_btn {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 30px;
    top: 30px;
    z-index: 2;
}

.toggle_theme {
    height: 100%;
    width:100%;
    border: 3px solid transparent;
    fill: var(--text-color-light);
    background-color: transparent;
    border-radius: 30px;
    transition: border 0.3s ease;
    cursor: pointer;
}

.toggle_theme:hover {
    border: 3px solid var(--toggle-color);
}

section {
    margin: 50px;
}

.preview_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
}

.project_card {
    background-color: var(--bg-color-cards);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid transparent;
    transition: box-shadow 0.2s ease-out;
}

.project_card:hover {
    box-shadow: 0 4px 8px rgba(70, 137, 224, 0.4);
}

.screenshot img {
    width: 100%;
    height: auto;
    display: block;
}

.name_and_icons, .project_description {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_and_icons {
    margin-bottom: 0;
    border-bottom: 1px solid var(--bg-color_2);
}

p {
    margin: 0;
}

.project_title {
    margin-left: 0;
    margin-right: auto;
}

.a_icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    padding: 3px;
    border: none;
    transition: all 0.2s ease-in;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    filter: var(--icon-filter);
}

.a_icon:hover {
    transform: scale(1.2);
}

footer {
    display: flex;
    background: linear-gradient(to right, var(--bg-color_3), var(--bg-color_2));
    height: 400px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.contact_container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 70px;
    height: 320px;
    width: 550px;
}

.contact_title, .contact_p, .email_container, .phone_number_container, .footer_icons {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--text-color-light);
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact_title {
    margin-top: 0px;
}

.contact_p {
    width: 300px;
}

.contact_pic {
    width: 700px;
    height: auto;
    margin: 0;
    margin-right: 70px;
}

.contact_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.email_icon, .phone_icon {
    width: 30px;
    height: 30px;
    fill: var(--text-color-light);
}

@media (min-width: 600px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 99%;
    }

    .header {
        height: auto;
    }

    .profile_about {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;
        background-color: --about-profile-bg;
        backdrop-filter: blur(10px);
        width: auto;
        border: 1px solid var(--border-about-profile);
        border-radius: 15px;
        box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.2);
    } 

    .toggle_btn {
        z-index: auto;
        right: 0;
        top: 0;
        padding: 10px;
    }

    .profile {
        order: 1;
        width: 300px;
        height: 300px;
        margin: 0;
        box-shadow: none;
    }

    .profile_pic {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .pic {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .profile_text {
        margin-bottom: -120px;
        color: var(--text-color-light);
    }

    .about_container {
        order: 2;
        width: 500px;
        height: auto;
        text-align: center;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        box-shadow: none;
        background: transparent;
    }

    .about_title {
        display: none;
    }
    
    .about_p, .about_icons {
        margin: 0px;
        padding: 20px 40px 0px 40px;
        font-weight: 550;
        font-size: 20px;
        color: var(--text-color-light);
    }

    .about_icons {
        padding-bottom: 20px;
    }

    .header::before {
        transform: skewY(-6deg);
    }

    .contact_pic {
        display: none;
    }

    .contact_container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .contact_p {
        text-align: center;
    }

    .a_icon {
        height: 40px;
        width: 40px;
        padding: 5px;
    }
}

@media (max-width: 599px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 99%;
    }

    .header {
        height: auto;
    }

    .profile_about {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-bottom: 20px;
        background-color: var(--about-profile-bg);
        backdrop-filter: blur(10px);
        width: 300px;
        border: 1px solid var(--border-about-profile);
        border-radius: 15px;
        box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.2);
    } 

    .toggle_btn {
        z-index: auto;
        right: 0;
        top: 0;
        padding: 10px;
    }

    .profile {
        order: 1;
        width: 250px;
        height: 250px;
        margin: 0;
        box-shadow: none;
    }

    .profile_pic {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .pic {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .profile_text {
        margin-bottom: -120px;
        color: var(--text-color-light);
    }

    .about_container {
        order: 2;
        width: 300px;
        height: auto;
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding-bottom: 0;
        box-shadow: none;
        background: transparent;
    }

    .about_title {
        display: none;
    }
    
    .about_p, .about_icons {
        margin: 0px;
        padding: 20px 20px 0px 20px;
        font-weight: 400;
        font-size: 20px;
        color: var(--text-color-light);
    }

    .about_icons {
        padding-bottom: 20px;
    }

    .header::before {
        transform: skewY(-6deg);
    }

    .contact_pic {
        display: none;
    }

    .contact_container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .contact_p {
        text-align: center;
    }

    .a_icon {
        height: 40px;
        width: 40px;
        padding: 5px;
    }

    .btn_icon {
        height: 40px;
        width: 40px;
    }
}